header {
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 10px 3px #0000004d;
    background-color: #fff;
    padding: 10px 0;
    z-index: 5;
}

.nab_bar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Arvo';

}

.nab_bar>* {
    margin-bottom: 2rem;
}

.nab_bar a {
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
}


.nav_brand {
    font-weight: bold;
    display: flex;
    align-items: center;

}

.nav_brand span {
    font-size: 2.5rem;
}

.nav_brand::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fe961d;
    display: inline-block;
    margin-left: 3px;
    margin-top: 20px;

}

.nav_brand img {
    display: none;
}

.nab_bar_nav ul {
    display: none;
}

.nab_bar_nav ul .nav_link {
    margin: 10px 0px;
}

.nab_bar_nav ul .nav_link a {
    position: relative;
    z-index: 0;
}

.nab_bar_nav ul .nav_link a::after {
    content: "";
    width: 100%;
    height: 0;
    background-color: var(--clr-orange);
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -2px;
    transition: 0.3s;
}

.nab_bar_nav ul .nav_link a:hover::after {
    height: 10px;
}

.user_link {
    display: flex;
}

.user_link img {
    border-radius: 50%;
    margin-right: 30px;
}

.user_link button {
    border-style: none;
    background: none;
    text-decoration: underline;
    color: #766f6f;
}

.user_link button:hover {
    color: #000;
}

.burgur {
    font-size: 1.2rem;
    padding: 2px 5px;
    border-style: none;
    border: 1px solid var(--clr-orange);
    background-color: #fffcf8;
    border-radius: 5px;
}

.nab_bar_nav.responsive .burgur {
    display: block;
    width: min-content;
    font-size: 1.2rem;



}

.nab_bar_nav.responsive {
    position: relative;
    display: flex;
    flex-direction: column;

}

.nab_bar_nav.responsive ul {
    float: none;
    display: block;
}

@media screen and (min-width: 992px) {
    .nav_brand img {
        display: block;
    }

    .burgur {
        display: none;
    }

    .nab_bar_nav ul {
        display: flex;
    }


}

@media screen and (min-width: 768px) {
    .nab_bar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nab_bar_nav ul .nav_link {
        margin: 0 15px;
    }

    .nab_bar_nav.responsive .burgur {
        margin: 0 auto;
    }

    .user_link {
        justify-content: space-between;
        align-items: center;
    }
    .nab_bar>* {
        margin-bottom: 0;
    }

}